@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap.scss';

$primary: #385158;
body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    background-color: $primary;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}